html, body {
    background-color: #1E1F54;
    color: #FFEEEE;
}

#error-content {
    width: 200px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: #DEDFEB;
}

.warning {
  text-align: center;
  color: white;
  background: #F9402D;
}

.hidden {
    display: none;
}

.notice {
    font-size: x-small;
    color: #F9402D;
}

#keywords {
    border-radius: 10px;
    display: block;
}

#interval {
    display: block;
}

#apply {
    margin-top: 10px;
}

/*Switch - box around the slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: translate(23px, -10px);
}
/*Switch - hide default HTML checkbox*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/*Switch - the slider*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #CCCCCC;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/*Switch - slider animation*/
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F9F4F4;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #249ADC;
}
input:focus + .slider {
    box-shadow: 0 0 1px #249ADC;
}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*Switch - rounded slider*/
.slider.round {
    border-radius: 34px;
}
.slider.round::before {
    border-radius: 50%;
}